{% extends 'partials/_content.twig' %}

{% block main %}

{% for contact in contact %}
<section class="hero hero-image is-dark is-bold is-medium" {%- if contact.image|default %} {% set filename = contact.image.file|default(contact.image) %} data-background-image="{{ asset(filename, 'files') }}" style="background-image: url({{ asset(filename, 'files') }})" {% endif -%}>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ contact.title }}</h1>

            {# {% if config.get('general/payoff') %}
                <h2 class="subtitle">{{ config.get('general/payoff') }}</h2>
            {% endif %} #}
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <strong>TEL:</strong> <a href="tel:7205490331">720.549.0331</a>
        <span class="is-pulled-right"><strong>EMAIL:</strong> <a href="#" class="contact-btn">sales@thecantilevers.com</a></span>
        <hr>
    </div>
</section>



<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column  is-vertical-center">
                <div>
                    <figure class="image margin-bottom-50">
                        <img src="http://www.thecantilevers.com/thumbs/1000x1000r/logos/logo-collier-managementat4x-8.png" />
                    </figure>
                    <h2 class="is-size-4">JASON COLLIER, MBA, ME</h2>
                    <h5>Principal – Collier Management, LLC</h5>
                    <p>Jason Collier has Master’s in both Business Administration and Engineering Management and has a CHO certification (Certified Hospitality Owner) and LSSBB certification (Lean Six Sigma Black Belt). Jason has over 20 years in engineering, manufacturing and hotel operations, business, and project management experience. He has a background of investments in hotels and other real estate projects.</p>
                </div>
            </div>
            <div class="column  is-vertical-center">
                <div>
                    <figure class="image margin-bottom-50">
                        <img src="http://www.thecantilevers.com/thumbs/1000x1000r/logos/logo-land-capitalat4x-8.png" />
                    </figure>
                    <h2 class="is-size-4">MIKE EISENSTEIN</h2>
                    <h5>President – Land Capital, LLC</h5>
                    <p>With over 20 years of real estate experience Michael Eisenstein has created family real estate portfolios in Los Angeles and now Denver. His company Land Capital has commercial and residential developments in various stages in Denver and surrounding regions.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <hr>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered is-vertical-center">
                <figure class="image">
                    <img src="http://www.thecantilevers.com/thumbs/1000x1000r/logos/logo-alcornat3x-8.png" />
                </figure>
            </div>
            <div class="column has-text-centered is-vertical-center is-one-fith">
                <figure class="image">
                    <img src="http://www.thecantilevers.com/thumbs/1000x1000r/logos/logo-re.png" />
                </figure>
            </div>
            <div class="column has-text-centered is-vertical-center">
                <figure class="image">
                    <img src="http://www.thecantilevers.com/thumbs/1000x1000r/logos/logo-daj-designsat4x-8.png" />
                </figure>
            </div>
            <div class="column has-text-centered is-vertical-center">
                <figure class="image">
                    <img src="http://www.thecantilevers.com/thumbs/1000x1000r/logos/logo-nexus.png" />
                </figure>
            </div>
        </div>
    </div>
</section>


{% endfor %}

{% endblock main %}

{% block footer %}

<script>
    jQuery(document).ready(function($) {
        $('#contact-form').on('submit', function(e) {
            e.preventDefault();
            var $form = $(this);
            var $body = $('body');
            $.ajax({
                url: $form.attr('action'),
                type: "POST",
                data: $form.serialize()
            }).done(function() {
                $form.find('input,select,textarea').val('');
                $body.prepend('<div class="notification"><button class="delete"></button>Thanks for reaching out! We will return your message shortly.</div>');
                
            }).fail(function() {
                $body.prepend('<div class="notification"><button class="delete"></button>Oops! It broke!</div>');
            });
        });
    });
</script>

{% endblock footer %}

